body {
    width: 1140px;
    margin: 0 auto;
}

.jumbotron {
    text-align: center;
    background-color: darkgray;
    color: black;
}

.jumbo {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top_row {
    background-color: lightgrey;
    padding-top: 5px;
}

#schedule {
    border-style: solid;
}
